# IDEs e configs locais
.vscode/
.idea/

# Ambientes virtuais
.venv/
venv/
.ven/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc

# Node modules
frontend/node_modules/
frontend/.env
