# IDEs e configs locais
.vscode/
.idea/

# Ambientes virtuais
.venv/
venv/
.ven/

# Variáveis de ambiente (UNIFICADO na raiz)
.env

# Cache do Python
__pycache__/
*.pyc

# Node modules
frontend/node_modules/

backstage/staticfiles/
backstage/api/migrations/__pycache__/*

staticfiles