@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Protest+Riot&display=swap');
@import "tailwindcss";

@theme{
  --font-script: "Protest Riot", sans-serif;
    --shadow-7xl: 5px  5px 5px rgba(129, 129, 129, 0.086);
}


