@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-script: "Protest Riot", sans-serif;
  --shadow-7xl: 5px  5px 5px rgba(129, 129, 129, 0.086);
  --shadow-8xl: 0px 0px 10px rgba(129, 129, 129, 0.2);
  --font-poppins: "Poppins", sans-serif;
}


